.board-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
.board-winner {
  height: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.board-moves {
  color: #FFFFFF;
  font-size: 14px;
}
.board-button {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  background: #00D8FF;
  border: none;
}
.board-edge {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.corner,.horiz-edge,.vert-edge {
  background-color: #6b98bf;
background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
}
.corner {
  height: 40px;
  width: 40px;
  border: 2px solid black;
}
.board {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  z-index: 1;
  /*position: relative;*/
  display: flex;
  flex-flow: row wrap;
}
.horiz-edge {
  width: 300px;
  height: 30px;
  border: 2px solid black;
}
.vert-edge {
  width: 30px;
  height: 300px;
  border: 2px solid black;
}
.horiz-indent {
  margin-left: 10px;
}
.vert-indent {
  margin-top: 10px;
}

.top,.middle,.bottom {
  display: flex;
  flex-direction: row;
}
