.tile {
  height: 90px;
  width: 90px;
  background-color: #abfd21;
  border: 1px solid black;
  z-index: 2;
  color: white;
  padding: 4px;
}
#n1 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top left 0px;
}
#n2 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 0px left 200px;
}
#n3 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 0px left 100px;
}
#n4 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 200px left 0px;
}
#n5 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 200px left 200px;
}
#n6 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 200px left 100px;
}
#n7 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 100px left 0px;
}
#n8 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 100px left 200px;
}
#n9 {
  background-image: url('../react.png');
  background-size: 300px 300px;
  background-position: top 100px left 100px;
}
